table,
td,
tr,
th {
  border-collapse: collapse;
  border: 1px solid #fff;
  padding: 5px;
}

.button {
  cursor: pointer;
  margin: 5px auto;
  color: #ffffffd9;
  cursor: pointer;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 3px 9px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  border: none;
}

.button.button--danger {
  background-color: #f07369;
}

.button.button--info {
  background-color: #907ff0;
}

.button.button--warning {
  background-color: #ffa62a;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.test {
  display: flex;
  gap: 20px;
  background-color: rgb(29, 135, 228);
  padding: 25px;
}

.test p {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

.test-btn {
  background-color: #cf9f9f;
}

#table-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.result1,
.result2 {
  width: 100%;
}